<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Create A Team of Super Heroes</title>
</head>
<body>
  <h1>Create a Team and Heroes!</h1>
  <form method="POST" action="/teams" class="">
    <p>Team Name: <input type="text" name="team[name]" value=""></p>
    <p>Team Motto: <input type="text" name="team[motto]" value=""></p>
  </form>
</body>
</html>
