<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Create A Team of Super Heroes</title>
</head>
<body>
  <h1>Create a Team and Heroes!</h1>
  <form method="POST" action="/teams" class="">
  </form>
</body>
</html>
